/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* UTILITIES */

.flex{
    display: flex;
}




/* HEADER */

/* main nav header */
.main-nav{
    justify-content: space-between;
    /* debug */
    height: 50px;
    background-color: orangered;
  }

.left-part{
    width: 30%;
     /* debug */
    height: 50px;
    background-color:greenyellow;
    border:1px solid black;
}

.right-part{
    width: 30%;
     /* debug */
    height:50px;
    background-color: greenyellow;
    border:1px solid black;
}



/* jumbotron */

.jumbotron{
    height: 400px;
    background-color: rgb(70, 70, 181);
    border:1px solid black;
    text-align: center;
}

.jumbotron-container{
    justify-content: center;
 }


.jumbotron-testo{
    width: 20%;
    height: 300px;
    background-color: darkgreen;
    border:1px solid black;
}


.jumbotron-img{
    width:40%;
    height:300px;
    background-color:pink;
    border:1px solid black;
}


/* MAIN */

/* section1 */

.section1{
    max-width: 1000px;
    margin: 50px auto;
    background-color: rgb(100, 0, 223);
    height:800px;
}

.section1-titolo{
height: 100px;
background-color: rgb(128, 0, 92);
border: 1px solid black;
}

.row{
    justify-content: center;
    /* max-width: 1000px; */
    background-color:green;
    height: 600px;
    gap: 20px;
    align-items: center;
   }

.col{
    height: 500px;
    background-color: pink;
    width: calc(1000px / 3 );
    border:1px solid black;
}

.section1-bottom{

    height: 100px;
    background-color: aquamarine;
    border:1px solid black

}


/* section2 */

.section2{
    max-width: 1000px;
    margin: 50px auto;
    background-color: brown;
    height: 500px;
    
}

.section2-main{
    height: 400px;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;

}

.section2-image{
    width: 30%;
    background-color: pink;
    border: 1px solid black;
    height:300px;
}

.section2-text{
    width: 50%;
    background-color: pink;
    border: 1px solid black;
    height: 300px;
}

.section2-title{
    background-color: blue;
    margin-left: 100px;
}

/* section3 */

.section3{
    width: 1000px;
    margin:50px auto;
    background-color: chocolate;
    height: 800px;
}

.row3{
    justify-content: center;
    max-width: 1000px;
    background-color:green;
    /* height: 1000px; */
    flex-wrap: wrap;
    /* gap: 20px; */
    /* align-items: center; */

}

.col3{
    background-color: pink;
    width: calc(100% / 3);
    border:1px solid black;
    height: 400px;
}

/* section4 */

.section4{
    max-width: 1000px;
    background-color: blueviolet;
    height: 200px;
    margin: 50px auto;

    
}

/* section5 */

.container5{
    background-color: lime;
    border:1px solid black; 
    height: 400px;
}

.left-part5, 
.center-part5,  
.right-part5 {
    width: calc(100% / 3);
    border: 1px solid black;
    height: 400px;
}

.left-part5,
.right-part5{
    flex-wrap:wrap;
}

.box{
    width:calc(100%/2);
    height:50%;
    border: 1px solid black;
}

.bottom-part5{
    border: 1px solid black;
    background-color: aqua;
    height:200px;       
}


/* section6 */

.section6{
    max-width: 1000px;
    height:400px;
    margin: 50px auto;
    background-color: magenta;
    border: 1px solid black;

}


/* FOOTER */

.footer{
    background-color: grey;
    height: 400px;
}

.footer-row{
  max-width:1100px;
  margin:20px auto;
  background-color: grey;
  justify-content: center;
  
}

.footer-col{
    width: calc(100% / 5);
    height:300px;
    background-color: green;
    border: 1px solid black;
}