/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}


/* FONT */
body{
    font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */

.flex{
    display: flex;
}

/* GENERAL */
ul{
    list-style: none;
}

h1{
    font-size: 3.3rem;
}



/* HEADER */

header{
    position: relative;
    
}

/* main nav header */
    .main-nav{
    background-color: white;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    line-height: 50px;
    text-align: center;
    position: fixed;
    z-index: 100;
  }

/* left part header */
.left-part{
    width: 40%; 
}

.ul-left{
    gap: 15px;
}

.logo-small{
    padding-top: 11px;
}

.right-part{
    width: 40%;
   } 

.ul-right{
    gap:15px;
    justify-content: right;
}

.btn{
    background-color: rgb(55, 55, 246);
    /* font-size: 1rem; */
    border-style: hidden;
    padding:6px;
    color: white;
    margin-right: 5px;

}

/* jumbotron */

.jumbotron{
    /* width: 1100px; */
    padding-top:50px;
    height: 600px;
    margin: 0 auto;
    background-color: rgb(125, 202, 240);
        /* border:1px solid black; */
    /* text-align: center; */
}

.jumbotron-container{
    justify-content: center;
    line-height: center;
    padding-top: 20px;
    /* border: 1px solid black; */
 }

 .jumbotron-title{
    padding-top: 20px;
    /* height: 200px; */
    width: 60%;
    margin: 0 auto;
    /* border:1px solid black;  */
 
 }

.jumbotron-testo{
    width: 15%;
    font-size: 0.8rem;
    height: 380px;
    padding-right: 15px;
    
        /* border:1px solid black; */
}

.arrow{
    padding-top:70px;
    font-size:2rem;
}


.jumbotron-img{
    width:45%;
    height:400px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* MAIN */

/* section1 */

.section1{
    max-width: 55%;
    margin:100px auto;
    height:800px;
}

.section1-titolo{
height: 100px;
border: 1px solid black;
}
.section1-maintitle{
    padding-bottom: 30px;

}


.row{
    justify-content: center;
    height: 600px;
    gap: 20px;
    align-items: center;
   }

.col{
    height: 500px;
        /* background-color: pink; */
    width: calc(1000px / 3 );
    border:1px solid black;
}

.colhead{
    margin-left: 80px ;
    font-size: 0.7rem;
}

.section1-bottom{

    height: 100px;
    background-color: aquamarine;
    border:1px solid black

}


/* section2 */

.section2{
    max-width: 55%;
    margin: 50px auto;
    background-color: brown;
    height: 600px;
    
}

.section2-main{
    /* height: 500px; */
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;

}

.section2-image{
    width: 60%;
    background-color: pink;
    border: 1px solid black;
    height:300px;
}

.section2-text{
    width: 40%;
    background-color: pink;
    border: 1px solid black;
    height: 300px;
    padding-top: 50px;
    justify-content: bottom;
 
}

.section2-title{
    /* width: 100%; */
        /* background-color: blue; */
    /* margin-left: 100px; */
    height: 50px;
    margin-bottom:auto   20px;
}

/* section3 */

.section3{
    width: 55%;
    margin:50px auto;
    background-color: chocolate;
    height: 800px;
}

.row3{
    /* justify-content: center; */
    max-width: 1000px;
    background-color:green;
    /* height: 1000px; */
    flex-wrap: wrap;
    /* gap: 20px; */
    /* align-items: center; */

}

.col3{
    background-color: pink;
    width: calc(100% / 3);
    border:1px solid black;
    height: 400px;
}

/* section4 */

.section4{
    max-width: 1000px;
    background-color: blueviolet;
    height: 200px;
    margin: 50px auto;

    
}

/* section5 */

.container5{
    background-color: lime;
    border:1px solid black; 
    height: 400px;
}

.left-part5, 
.center-part5,  
.right-part5 {
    width: calc(100% / 3);
    border: 1px solid black;
    height: 400px;
}

.left-part5,
.right-part5{
    flex-wrap:wrap;
}

.box{
    width:calc(100%/2);
    height:50%;
    border: 1px solid black;
}

.bottom-part5{
    border: 1px solid black;
    background-color: aqua;
    height:200px;       
}


/* section6 */

.section6{
    max-width: 1000px;
    height:400px;
    margin: 50px auto;
    background-color: magenta;
    border: 1px solid black;

}


/* FOOTER */

.footer{
    background-color: grey;
    height: 400px;
}

.footer-row{
  max-width:1100px;
  margin:20px auto;
  background-color: grey;
  justify-content: center;
  
}

.footer-col{
    width: calc(100% / 5);
    height:300px;
    background-color: green;
    border: 1px solid black;
}