/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}


/* FONT e BACKGROUND body */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

/* UTILITIES */

.flex{
    display: flex;
}

/* GENERAL */
ul{
    list-style: none;
}

h1{
    font-size: 3.3rem;
}


/* HEADER */

header{
    position: relative;
    }

/* sezione nav */
    .main-nav{
    background-color: white;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    line-height: 50px;
    text-align: center;
    position: fixed;
    z-index: 100;
    font-size: 0.7rem;
  }

/* left part header */
.left-part{
    width: 40%; 
}

.ul-left{
    gap: 15px;
}

.logo-small{
    padding-top: 11px;
}

/* right part header */
.right-part{
    width: 40%;
   } 

.ul-right{
    gap:15px;
    justify-content: right;
}

.btn-blu{
    background-color: rgb(55, 55, 246);
    border-style: hidden;
    padding:6px;
    color: white;
    margin-right: 5px;
}

.btn-neutral{
    background-color: white;
    border:2px solid black;
    padding:2px;

}

/*  sezione jumbotron */

.jumbotron{
    padding-top:50px;
    height: 600px;
    margin: 0 auto;
    background-color: rgb(125, 202, 240);
}

.jumbotron-container{
    justify-content: center;
    line-height: center;
    padding-top: 20px;
 }

 .jumbotron-title{
    padding-top: 20px;
    width: 60%;
    margin: 0 auto;
 }

.jumbotron-testo{
    width: 15%;
    font-size: 0.8rem;
    height: 380px;
    padding-right: 15px;
}

.arrow{
    padding-top:70px;
    font-size:2rem;
}

.jumbotron-img{
    width:45%;
    height:400px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* MAIN */

/* section plans */

.plans{
    max-width: 55%;
    margin:100px auto;
    height:800px;
}

.plans-titolo{
height: 100px;
/* border: 1px solid black; */
}
.plans-maintitle{
    padding-bottom: 30px;
    font-size: 2rem;
}

.row{
    justify-content: center;
    height: 600px;
    gap: 20px;
    align-items: center;
   }

.col{
    height: 600px;
    width: calc(100% / 3 );
    border:1px solid lightgray;
}

.titolo-col{
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid lightgray;
}

.contenuti-col{
    padding: 10px 20px 50px;
    font-size: 0.8rem;
}

.col-bottom{
    margin-top: 50px;
    border:1px solid black;
    font-size: 0.8rem;
}

.right-col{
    width:30%;
    text-align: center;
}

.left-col{
    width:70%
}


/* section partners */

.partners{
    max-width: 55%;
    margin: 100px auto;   
}

.partners-main{
    align-items: center;
    justify-content: center;
}

.partners-image{
    width: 60%;   
    max-width: 1100px;    
    }

.partners-text{
    width: 40%;
    padding: 60px 10px;
}

.partners-title{
    height: 50px;
    margin-bottom:auto 20px;
}

/* section instruments */

.instruments{
    width: 55%;
    margin:100px auto;       
}

.row-instruments{
    max-width: 1000px;
    flex-wrap: wrap;
    }

.col-instruments{
    width: calc(100% / 3);
    font-size: 0.8rem;
    padding: 10px;
}


/* business section */

.business-box{
    max-width: 55%;
    /* min-width: 1100px; */
    margin: 50px auto;  
    
}
.business-box h2{
    font-size: 2rem;
}


/* sponsors section */

.sponsors{
    height: 400px;
}

.left-sponsors, 
.center-sponsors,  
.right-sponsors {
width: calc(100% / 3);
height: 400px;
}

.left-sponsors,
.center-sponsors,
.right-sponsors{
    flex-wrap:wrap;
}

.box{
    width:calc(100%/2);
        height:50%;
    /* border: 1px solid black; */
}

.center-sponsors{
    background-color: rgb(246, 242, 240);
}


.designit{
    background-color: rgb(166, 202, 166);
    border: 10px solid rgb(184, 233, 184); 
}

.asu{
    background-color: rgb(157, 0, 0);
}

.uflorida{
    background-color: rgb(65, 119, 255);
}

.topps{
    background-color: red;
}

.bicycle{
    background-color: rgb(212, 73, 73);
}
.hearst{
    background-color: rgb(32, 233, 233);
}
.lonely{
    background-color: blue;
}
.clear{
    background-color: rgb(208, 208, 89);
}


.img-sponsor{
    filter: invert(100%);
    padding: 60px;
}

.center-sponsors{
    padding: 10px;
    
}

.center-image{
    size: 15px;
}

/* section prova */

.prova{
        /* border: 1px solid black; */
    height:250px;
    background-color: rgb(125, 202, 240);
    justify-content: center;
    align-items: center;
    padding-top:100px;
}

.prova-main{
    max-width: 55%;
    margin: 0 auto;
    /* border:1px solid black; */
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.prova-title{
width: 65%;
justify-content: center;
}

.prova-button{
width: 35%;
justify-content: center;
text-align: center;
}




/* section questions */

.questions{
    max-width: 1000px;
    /* height:500px; */
    margin:  50px auto;
    background-color: rgb(0, 255, 229);
    border: 1px solid black;
    padding-top: 50px;

}


/* FOOTER */

.footer{
  
    background-color: black;
    height: 400px;
    margin-top: 50px;
}

.footer-row{
  max-width:70%;
  padding-top: 50px;
  margin:20px auto;
  justify-content: center;
  
}

.footer-col{
    width: calc(100% / 5);
    color: white;
    padding:30px;
    /* background-color: green; */
    /* border: 1px solid black; */
    /* height:300px; */
}